*{margin:0;padding:0;}
li{
	list-style-type: none;
}
body{
	font-family: tahoma,arial,'Hiragino Sans GB';
}
#mywork{
	/*background-color: #f00;*/
	margin: 300px;
	width: 292px;
	height: 237px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#mywork li{
	width: 72px;
	height: 67px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	float: left;
	padding-top: 11px;
	text-align: center;
}
/*
	使用背景精灵定义小图标：所有的小图标放在一个大图上
	目的是提高访问性能;
*/

#mywork li div{
	/*background-color: #eee;*/
	width: 24px;
	height: 24px;
	margin: 0 auto;
	background-image: url(../img/tb.png);
	background-position: 0 -484px;
	margin-bottom: 10px;
	/*背景图片平铺属性：no-repeat表示不平铺：*/
	background-repeat: no-repeat;
}

#mywork li.l11 div{
	background-position: 0 -440px;
} 

#mywork li.l10 div{
	background-position: 0 -400px;
	height: 19px;
	margin-top: 5px;
} 

#mywork a:link, #mywork a:visited{
	font-size: 12px;
	color: #3c3c3c;
	text-decoration: none;
}

#mywork a:hover, #mywork a:active{
	color: #f40;
}
/*
本案例的知识点：
	1，背景图片定位：background-position
	两个参数分别指定X轴和Y轴方向的偏移量；
	左上角是0 0;
	x周向左偏移使用负值；
	y轴向上偏移使用负值；
	他的值可以是：
		像素、百分比、
		center、
		left、right
		top、bottom


,2，背景图片平铺属性：background-repeat
		no-repeat表示不平铺：
		repeat：把整个盒子平铺满；
		repeat-x：表示只在水平方向平铺；
		repeat-y：表示只在垂直方向平铺；
*/

